body {
  background-color: rgb(253, 243, 229);
}

#main {
  font-family: 'Roboto Mono';
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

#main:focus {
  outline: none
}

/* #title-div {} */

.div-container {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.div-container > div {
  margin-left: auto;
  margin-right: auto;
}

/* #canvas-div {} */

#changelog-div {
  text-align: left !important;
}

img.piece {
  width: 80px;
  height: 80px;
  object-fit: none;
}